<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ data.titulo }}</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="../static/js/script.js" defer></script>
</head>
<body>
    <main>
        <div class="userInfo"></div>
        <div class="userMonto">
            <h1>MONTO DISPONIBLE: ${{ data.usuario_dinero }}</h1>
        </div>

        <div class="userAcciones">
            <button class="btn-transferir" id="btn-transferir">TRANSFERIR</button>
            <button class="btn-ingresar" id="btn-ingresar">INGRESAR</button>
            <h1>BALANCE</h1>
            <button>LOGOUT</button>
        </div>

        <div class="userHistorial">
        </div>
        <form action="" method="post" id="form-transferir" class="invisible">
                <h2>TITULO</h2>
                <input type="search" name="userSearch" id="">
                <input type="number" name="userTransferencia" id="">
                <button class="confirmar">></button>
            </form>
    </main>
</body>
</html>