<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ data.titulo }}</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="../static/js/script.js" defer></script>
</head>
<body>
    <main>
        <div class="userInfo">
            <H1>{{ data.userNombre}}</H1>
            <h2>{{ data.userDNI }}</h2>
            <h3>{{ data.userEmail }}</h3>
        </div>
        <div class="userMonto">
            <h1>MONTO DISPONIBLE: ${{ data.userDinero }}</h1>
        </div>

        <div class="userAcciones">
            <button class="btn-transferir" id="btn-transferir">TRANSFERIR</button>
            <button class="btn-depositar" id="btn-depositar">DEPOSITAR</button>
            <h1>BALANCE</h1>
            <button> LOGOUT </button>
            <button class="btn-login" id="btn-login" >LOGIN</button>
        </div>

        <div class="userHistorial">
        </div>

        <form action="/login" method="POST" id="form-login" class="invisible">
            <H2>LOGIN</H2>
            <input type="text" name="userNombre" id="userNombre" placeholder="Inserte nombre" required>
            <input type="number" name="userDNI" id="userDNI" placeholder="Inserte DNI" required>
            <input type="email" name="userEmail" id="userEmail" placeholder="Inserte correo electronico" required>
            <button type="submit">CONFIRMAR</button>
        </form>

        <form action="/depositar" method="POST" id="form-depositar" class="invisible">
            <h2>DEPOSITAR</h2>
            <input type="search" name="userSearch" id="userID" placeholder="Buscar usuario">
            <input type="number" name="userMonto" id="userMonto" placeholder="Depositar monto" requeried>
            <button type="submit" class="confirmar" onclick="history.back()">CONFIRMAR</button>
        </form>
    </main>
</body>
</html>